{% extends 'index.html' %}{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <h5 style="text-align: left;color: red;">{{message}}</h5>
            {% endfor %}
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputname" class="sr-only mb-2">Username</label>
        <input type="text" name="username" id="inputname" class="form-control mb-2" placeholder="Username" required>
        <label for="inputPassword" class="sr-only mb-2">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <div class="checkbox my-3">
            <label>
            <a href="{% url 'home:signup' %}" class="text-decoration-none"> Signup</a>
            </label>
        </div>
    </form>
    
{% endblock %}