{% extends 'index.html' %}{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Login Form</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <h5 style="text-align: left;color: red;">{{message}}</h5>
                    {% endfor %}
                {% endif %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="text" name="username" class="form-control" placeholder="Your Username *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="password" name="password" class="form-control" placeholder="Your Password *" required />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btnSubmit">Login</button>
                    <a href="{% url 'home:signup' %}" style="color:#fff;padding:15px 90px;" class="text-decoration-none btnSubmit">Sign Up</a>

                </div>
            </form>
        </div>
    </div>
    
{% endblock %}