{% extends 'index.html' %}{% load static %}
{% block title %}Signup{% endblock %}
{% block content %}
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <p>Register Form</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <h5 style="text-align: left;color: red;">{{message}}</h5>
                    {% endfor %}
                {% endif %}
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="text" name="name" class="form-control" placeholder="Your Username *" value=""/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="email" name="email" class="form-control" placeholder="Your Email *" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="number" name="phone" class="form-control" placeholder="Phone Number *" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="password" name="password1" class="form-control" placeholder="Your Password *" required />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group my-3">
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password *" required />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btnSubmit">Sign Up</button>
                    <a href="{% url 'home:login' %}" style="color:#fff;padding:15px 90px;" class="text-decoration-none btnSubmit">Login</a>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
